@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply bg-lightBg dark:bg-darkBg transition-colors duration-500;
}
html {
  scroll-behavior: smooth;
}
html, body {
  margin: 0;
  padding: 0;
}